@using umbraco_cms.Controllers
@model ICollection<Microsoft.AspNet.Identity.UserLoginInfo>

@if (Model.Count > 0 && ViewBag.ShowRemoveButton)
{
    <fieldset>
        <legend>Associated logins</legend>

        <p>
            Click on a provider to dissacociate them from your account
        </p>

        <ul class="inline-list">
            @foreach (var account in Model)
            {
                <li>
                    @using (Html.BeginUmbracoForm<UmbracoIdentityAccountController>("Disassociate"))
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-default"
                                title="Remove the @account.LoginProvider provider from your account"
                                onclick="return confirm('Are you sure you want to remove the @account.LoginProvider provider from your available logins?');">

                            @account.LoginProvider
                        </button>

                        @Html.Hidden("loginProvider", account.LoginProvider)
                        @Html.Hidden("providerKey", account.ProviderKey)
                    }
                </li>
            }
        </ul>

    </fieldset>
}
